<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{user.detail.title}">User detail title here</title>
</head>
<body style="background: linear-gradient(-55deg,
                 #ffeeb0 30%,#a2d49f 30%,#a2d49f 40%,#c7c12f 40%,#c7c12f 50%,#f26247 50%,#f26247 60%,#ec2045 60%,#ec2045 70%,#ffeeb0 70%);">

<p>Welcome, <b>[[${#httpServletRequest.remoteUser}]]</b></p>

<section>
    <h2 th:text="#{user.detail.title}">User detail title here</h2>
    <div class="person person_detail" th:if="${user}">
        <div th:text="${user.username}">Person username</div>
        <div class="person_guestbook_list">
            <div th:each="u : ${userGuestBooks}">
                <a th:href="@{'/guestbook/'+${u.id}}" th:text="${u.username}">GuestBook username</a>
            </div>
        </div>
    </div>
    <div th:unless="${user}">
        Shown if person is not found
    </div>

</section>
<div style="text-align: center">
    <a href="/">Back To Homepage</a>
</div>

</body>
</html>
