<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title th:text="#{login.title}">Please Login</title>
</head>
<body style="background: linear-gradient(-55deg,
                 #ffeeb0 30%,#a2d49f 30%,#a2d49f 40%,#c7c12f 40%,#c7c12f 50%,#f26247 50%,#f26247 60%,#ec2045 60%,#ec2045 70%,#ffeeb0 70%);">

<div sec:authorize="isAnonymous()">
    <form name="f" th:action="@{/authenticateUser}" method="post">
        <fieldset>
            <legend th:text="#{login.title}">Please Login</legend>
            <div th:if="${param.error}" class="alert alert-error">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>

            <input type="text" id="defaultLoginFormEmail" name="username"/>
            <input type="password" id="defaultLoginFormPassword" name="password"/>
            <div class="form-actions">
                <button type="submit" class="btn">Log in</button>
            </div>
        </fieldset>
    </form>
</div>
<div>
    <h3>Alternatively, you can log in with your Google-account.
        <span><a href="/login/oauth2">Log in using Google</a></span>
    </h3>
</div>
<div>
    <a href="/register/">Register</a>
</div>
<div>
    <div sec:authorize="isAuthenticated()">
        Currently logged in as: <b th:inline="text" class="user"> [[${#httpServletRequest.remoteUser}]] </b>
        <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout"/>
        </form>
    </div>
    <div>
        <a href="/">Back To Homepage</a>
    </div>
</div>
</body>
</html>

