<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{register.title}">Register</title>
</head>
<body style="background: linear-gradient(-55deg,
                 #ffeeb0 30%,#a2d49f 30%,#a2d49f 40%,#c7c12f 40%,#c7c12f 50%,#f26247 50%,#f26247 60%,#ec2045 60%,#ec2045 70%,#ffeeb0 70%);">

<div id="overlay">
    <div class="overlay-content">
        <div class=".backg"
             style="background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <div class="align-items-center">
                <div class="container-fluid">
                    <div class="row justify-content-center" style="padding: 10px">
                        <div style="margin-top: calc(25px + 6%)">
                            <!-- Default form register -->
                            <form method="POST" class="text-center">

                                <b class="h4 mb-4 white-text" th:text="#{register.title}">Register</b>

                                <!-- Username + Password-->
                                <div class="form-row mb-4">
                                    <div class="col">
                                        <input type="text" id="defaultRegisterUsername" class="form-control mb-4"
                                               placeholder="username"
                                               name="username" maxlength="20" required>
                                    </div>
                                    <div class="col">
                                        <input type="password" id="defaultRegisterFormPassword" class="form-control"
                                               placeholder="Password"
                                               aria-describedby="defaultRegisterFormPasswordHelpBlock" name="password"
                                               maxlength="255" required>
                                        <small id="defaultRegisterFormPasswordHelpBlock" class="white-text form-text text-muted">
                                            At least 8 characters and 1 digit
                                        </small>
                                    </div>
                                </div>

                                <div class="col-md-12 mb-4 white-text text-center">
                                    <!-- Sign up button -->
                                    <button class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s"
                                            type="submit"
                                            value="register" style="width:46%">Sign up
                                    </button>
                                </div>

                                <!-- Terms of service -->
                                <p class="white-text">By clicking
                                    <em>Sign up</em> you agree to our
                                    <a href="" target="_blank" id="register">terms of service</a>
                            </form>
                            <!-- Default form register -->
                        </div>
                        <div>
                            <a href="/">Back To Homepage</a>
                            <a href="/login/">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
