<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title th:text="#{guestbook.detail.title}">GuestBook Detail Title here</title>
</head>


<style>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

    .container {
        margin: auto;
        width: 50%;
        max-width: 400px;
        padding: 10px;
    }

    .message-blue {
        position: relative;
        margin-left: 20px;
        margin-bottom: 10px;
        padding: 10px;
        background-color: #A8DDFD;
        width: 200px;
        padding-bottom: 30px;
        min-height: 50px;
        text-align: left;
        font: 400 .9em 'Open Sans', sans-serif;
        border: 1px solid #97C6E3;
        border-radius: 10px;
    }

    .message-orange {
        position: relative;
        margin-bottom: 10px;
        margin-left: calc(100% - 240px);
        padding: 10px;
        background-color: #f8e896;
        width: 200px;
        padding-bottom: 30px;
        min-height: 50px;
        text-align: left;
        font: 400 .9em 'Open Sans', sans-serif;
        border: 1px solid #dfd087;
        border-radius: 10px;
    }

    .message-content {
        padding: 0;
        margin: 0;
    }

    .message-timestamp {
        position: absolute;
        font-size: .85em;
        font-weight: 300;
        bottom: 5px;
        right: 5px;
    }

    .message-blue:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: 15px solid #A8DDFD;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        top: 0;
        left: -15px;
    }

    .message-blue:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: 17px solid #97C6E3;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        top: -1px;
        left: -17px;
    }

    .message-orange:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: 15px solid #f8e896;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        bottom: 0;
        right: -15px;
    }

    .message-orange:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: 17px solid #dfd087;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        bottom: -1px;
        right: -17px;
    }

</style>

<body style="background: linear-gradient(-55deg,
                 #ffeeb0 30%,#a2d49f 30%,#a2d49f 40%,#c7c12f 40%,#c7c12f 50%,#f26247 50%,#f26247 60%,#ec2045 60%,#ec2045 70%,#ffeeb0 70%);">

<p>Welcome, <b>[[${#httpServletRequest.remoteUser}]]</b></p>

<h1 style="text-align: center" th:text="${guestBook.name}"></h1>
<div class="container">
    <div  th:each="m : ${messagesList}" th:classappend="${mStat.index} % 2 == 0 ? 'message-blue' : 'message-orange'">
        <p class="message-content">
            <strong th:text="${m.title}+','"></strong>
            <a th:remove="tag" th:utext="${m.comment}"></a></p>
        <div class="message-timestamp">
            <form th:action="@{'/guestbook/'+${guestBook.id}+'/del/message/'+${m.id}}" th:method="delete"><input type="submit" value="delete" th:if="${role}=='ROLE_ADMIN'"/>
                [[${m.user}]] [[${m.date}]]</form>
        </div>
    </div>

    <form th:if="${role}=='ROLE_USER' or ${role}=='ROLE_ADMIN'" action="#" th:action="@{'/guestbook/'+${guestBook.id}+'/new/message'}" th:object="${messageNew}" method="post">
        <p>Title: <input type="text" th:field="*{title}" /></p>
        <p>Comment: <textarea style="height: 200px; width:450px" type="text" th:field="*{comment}"></textarea></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    <div sec:authorize="isAnonymous()"><a href="/login">login to post a message</a></div>

</div>
<div style="text-align: center">
    <a href="/">Back To Homepage</a>
</div>


</body>
</html>