<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{guestbook.list.title}">Available GuestBooks</title>
</head>
<body style="background: linear-gradient(-55deg,
#ffeeb0 30%,#a2d49f 30%,#a2d49f 40%,#c7c12f 40%,#c7c12f 50%,#f26247 50%,#f26247 60%,#ec2045 60%,#ec2045 70%,#ffeeb0 70%);">

<p>Welcome, <b>[[${#httpServletRequest.remoteUser}]]</b></p>

<form th:if="${role}=='ROLE_ADMIN'" style="text-align: center" action="#" th:action="@{'/guestbook/'}"
      th:object="${guestbookNew}" method="post">
    <h1>Create a new GuestBook</h1>
    <p>Name: <input type="text" th:field="*{name}"/></p>
    <input style="margin-bottom: 25px" type="submit" value="Submit"/>
</form>

<div style="text-align: center" th:each="guestBook : ${guestBooks}">

    <form th:action="@{'/guestbook/del/'+${guestBook.id}}" th:method="delete">
        <a class="username" th:href="${guestBook.id}" th:text="${guestBook.name}"></a>
        <input type="submit" value="delete" th:if="${role}=='ROLE_ADMIN'"/>
    </form>
</div>
<div>
    <a href="/">Back To Homepage</a>
    <a href="/login/">Login</a>
</div>
<div th:if="${role}=='ROLE_ADMIN'">
    <a href="/user/">List of users</a>
</div>
</body>
</html>